apiVersion: apps/v1
kind: Deployment
metadata:
  name: project-a-frontend
  namespace: project-a
  labels:
    app: project-a-frontend
spec:
  replicas: 2
  revisionHistoryLimit: 3
  selector:
    matchLabels:
      app: project-a-frontend
  template:
    metadata:
      labels:
        app: project-a-frontend
    spec:
      containers:
        - name: frontend
          image: cowmin/project-a-frontend:0.1
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 80
          resources:
            requests:
              cpu: "50m"
              memory: "64Mi"
            limits:
              cpu: "200m"
              memory: "256Mi"
          readinessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 3
            periodSeconds: 5
          livenessProbe:
            httpGet:
              path: /
              port: 80
            initialDelaySeconds: 10
            periodSeconds: 10